@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Poppins:wght@600&family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #fff;
	overflow-x: hidden;
}

@font-face {
	font-family: "AEROTIS";
	src: url("../public/fonts/AEROTIS.TTF")
}
@font-face {
	font-family: "HASWENY";
	src: url("../public/fonts/HASWENY.OTF");
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar * {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #b2a397 !important;
}
::-webkit-scrollbar-thumb:hover {
	background: #dad5d1 !important;
}
